/arrays/*.out
/arrays/*.exe
/arrays/*.o

/doloopF95/*.out
/doloopF95/*.exe
/doloopF95/*.o

/freeFallF95/*.out
/freeFallF95/*.exe
/freeFallF95/*.o

/hello/*.out
/hello/*.exe
/hello/*.o

/hooksLawF95/*.out
/hooksLawF95/*.exe
/hooksLawF95/*.o

/omp/*.out
/omp/*.exe
/omp/*.o

/projectileF95/*.out
/projectileF95/*.exe
/projectileF95/*.o

/rendering/*.out
/rendering/*.exe
/rendering/*.o
/rendering/*.svg

/addscan/*.out
/addscan/*.exe
/addscan/*.o

/lambda/.vscode/

*.out
*.exe
*.o
*.txt
*.dat
.vscode/*.json

